<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>

    <div class="container container-products">


        <!-- Barra izquierda (aside) -->
        <div class="flex-shrink-0 p-3 bg-white filters-aside">
            <a href=" / " class="d-flex align-items-center pb-3 mb-3 link-dark text-decoration-none border-bottom ">

                <span class="fs-5 fw-semibold ">Filtrar por Categoria:</span>
            </a>
            <ul class="list-unstyled ps-0 ">
                <li class="mb-1 ">
                    <h6>
                        Categoría 1
                    </h6>
                    <div class="sub-categories">
                        <ul class=" btn-toggle-nav list-unstyled fw-normal pb-1 small ">
                            <li><a href=" # " class=" link-dark rounded ">Subcategoria 1</a></li>
                            <li><a href=" # " class=" link-dark rounded ">Subcategoria 2</a></li>
                            <li><a href=" # " class=" link-dark rounded ">Subcategoria 3</a></li>
                        </ul>
                    </div>
                </li>

                <li class="mb-1 ">
                    <h6>
                        Categoría 2
                    </h6>
                    <div class="sub-categories">
                        <ul class=" btn-toggle-nav list-unstyled fw-normal pb-1 small ">
                            <li><a href=" # " class=" link-dark rounded ">Subcategoria 4</a></li>
                            <li><a href=" # " class=" link-dark rounded ">Subcategoria 5</a></li>
                            <li><a href=" # " class=" link-dark rounded ">Subcategoria 6</a></li>
                        </ul>
                    </div>
                </li>
            </ul>
        </div>

        <!-- Barra derecha (productos) -->
        <div class=" row row-cols-1 row-cols-sm-2 row-cols-md-2 row-cols-xl-3 g-3 ">

            <!-- PRODUCTO -->
            <div class=" col ">
                <div class=" card shadow-sm ">
                    <div class=" card-body ">
                        <div class="img-container-card">
                            <img src="/assets/img/peluche-homer-simpson.jpg" alt="logo-bolsa" class="img-product" />
                        </div>

                        <p class=" card-text">Peluche homero 20cm.
                        </p>
                        <div class=" d-flex justify-content-between align-items-center ">
                            <h4>$9.990</h4>
                            <div class=" btn-group ">
                                <button type=" button " class=" btn btn-sm btn-outline-primary ">Agregar al
                                    carro</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- FIN PRODUCTO -->


            <!-- PRODUCTO -->
            <div class=" col ">
                <div class=" card shadow-sm ">
                    <div class=" card-body ">
                        <div class="img-container-card">
                            <img src="/assets/img/peluche-homer-simpson.jpg" alt="logo-bolsa" class="img-product" />
                        </div>

                        <p class=" card-text">Peluche homero 20cm.
                        </p>
                        <div class=" d-flex justify-content-between align-items-center ">
                            <h4>$9.990</h4>
                            <div class=" btn-group ">
                                <button type=" button " class=" btn btn-sm btn-outline-primary ">Agregar al
                                    carro</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- FIN PRODUCTO -->


            <!-- PRODUCTO -->
            <div class=" col ">
                <div class=" card shadow-sm ">
                    <div class=" card-body ">
                        <div class="img-container-card">
                            <img src="/assets/img/peluche-homer-simpson.jpg" alt="logo-bolsa" class="img-product" />
                        </div>

                        <p class=" card-text">Peluche homero 20cm.
                        </p>
                        <div class=" d-flex justify-content-between align-items-center ">
                            <h4>$9.990</h4>
                            <div class=" btn-group ">
                                <button type=" button " class=" btn btn-sm btn-outline-primary ">Agregar al
                                    carro</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- FIN PRODUCTO -->

            <!-- PRODUCTO -->
            <div class=" col ">
                <div class=" card shadow-sm ">
                    <div class=" card-body ">
                        <div class="img-container-card">
                            <img src="/assets/img/peluche-homer-simpson.jpg" alt="logo-bolsa" class="img-product" />
                        </div>

                        <p class=" card-text">Peluche homero 20cm.
                        </p>
                        <div class=" d-flex justify-content-between align-items-center ">
                            <h4>$9.990</h4>
                            <div class=" btn-group ">
                                <button type=" button " class=" btn btn-sm btn-outline-primary ">Agregar al
                                    carro</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- FIN PRODUCTO -->

            <!-- PRODUCTO -->
            <div class=" col ">
                <div class=" card shadow-sm ">
                    <div class=" card-body ">
                        <div class="img-container-card">
                            <img src="/assets/img/peluche-homer-simpson.jpg" alt="logo-bolsa" class="img-product" />
                        </div>

                        <p class=" card-text">Peluche homero 20cm.
                        </p>
                        <div class=" d-flex justify-content-between align-items-center ">
                            <h4>$9.990</h4>
                            <div class=" btn-group ">
                                <button type=" button " class=" btn btn-sm btn-outline-primary ">Agregar al
                                    carro</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- FIN PRODUCTO -->

            <!-- PRODUCTO -->
            <div class=" col ">
                <div class=" card shadow-sm ">
                    <div class=" card-body ">
                        <div class="img-container-card">
                            <img src="/assets/img/peluche-homer-simpson.jpg" alt="logo-bolsa" class="img-product" />
                        </div>

                        <p class=" card-text">Peluche homero 20cm.
                        </p>
                        <div class=" d-flex justify-content-between align-items-center ">
                            <h4>$9.990</h4>
                            <div class=" btn-group ">
                                <button type=" button " class=" btn btn-sm btn-outline-primary ">Agregar al
                                    carro</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- FIN PRODUCTO -->

            <!-- PRODUCTO -->
            <div class=" col ">
                <div class=" card shadow-sm ">
                    <div class=" card-body ">
                        <div class="img-container-card">
                            <img src="/assets/img/peluche-homer-simpson.jpg" alt="logo-bolsa" class="img-product" />
                        </div>

                        <p class=" card-text">Peluche homero 20cm.
                        </p>
                        <div class=" d-flex justify-content-between align-items-center ">
                            <h4>$9.990</h4>
                            <div class=" btn-group ">
                                <button type=" button " class=" btn btn-sm btn-outline-primary ">Agregar al
                                    carro</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- FIN PRODUCTO -->

        </div>





    </div>

</body>

</html>