body {
    background-color: #f5f5f5;
}

.container-products {
    display: flex;
    flex-direction: row;
    padding: 20px;
}

.filters-aside {
    width: 280px;
    transition: ease-in-out 0.2s;
}

.sub-categories {
    margin-left: 20px;
}

.img-container-card {
    text-align: center;
}

.img-product {
    max-width: 225px;
    max-height: 250px;
    width: 100%;
}

.name-delete-item {
    display: flex;
    flex-direction: row;
}

@media (max-width: 975px) {
    .container-products {
        flex-direction: column;
    }
    .filters-aside {
        width: 100%;
    }
}